@import "../../_globalColor";

.contact-div-main {
  display: flex;
}

.dark-mode a {
  color: $textColorDark;
}

.contact-div-main > * {
  flex: 1;
}

.contact-title {
  font-size: 65px;
  font-weight: 400;
}

.contact-detail,
.contact-detail-email {
  margin-top: 20px;
  font-size: 40px;
  font-weight: 400;
  color: $subTitle;
  text-decoration: none;
}

.contact-detail:hover,
.contact-detail-email:hover {
  color: $textColor;
  text-shadow: 2px 1px 2px $contactDetailHoverTS;
  transition: all 0.3s;
}

.contact-subtitle {
  text-transform: uppercase;
}

.contact-text-div {
  margin-top: 1.5rem;
}

.contact-margin-top {
  margin-top: 4rem;
}

.contact-image-div > img {
  max-width: 100%;
  height: auto;
  margin-left: 1.5rem;
  margin-top: -4rem;
}

/* Media Query */
@media (max-width: 1380px) {
  .contact-title {
    font-size: 50px;
  }
  
  .contact-detail,
  .contact-detail-email {
    font-size: 35px;
  }
}

@media (max-width: 768px) {
  .contact-div-main {
    flex-direction: column;
    text-align: center;
  }
  
  .contact-title {
    font-size: 40px;
    margin-bottom: 1rem;
  }

  .contact-subtitle {
    font-size: 16px;
    line-height: normal;
  }

  .contact-text-div {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  .contact-detail,
  .contact-detail-email {
    font-size: 20px;
    margin-top: 15px;
    display: block;
  }

  .contact-image-div {
    order: -1;
    margin-bottom: 2rem;
  }
  
  .contact-image-div > img {
    max-width: 70%;
    margin-left: 0;
    margin-top: 0;
  }
}

@media (max-width: 480px) {
  .contact-title {
    font-size: 32px;
  }
  
  .contact-detail,
  .contact-detail-email {
    font-size: 18px;
  }
  
  .contact-image-div > img {
    max-width: 85%;
  }
}
