@import "../../_globalColor";

.education-card {
  display: flex;
  flex-direction: row;
}

.education-card:hover + .education-card-border {
  border-color: $educationCardBorder;
  width: 100%;
  -webkit-transition: width 0.6s ease-in-out;
  -moz-transition: width 0.6s ease-in-out;
  -o-transition: width 0.6s ease-in-out;
  transition: width 0.6s ease-in-out;
}

.education-card-border {
  height: 30px;
  width: 80%;
  border-top: 2px solid $lightBorder1;
  margin-bottom: 20px;
  -webkit-transition: width 0.6s ease-in-out;
  -moz-transition: width 0.6s ease-in-out;
  -o-transition: width 0.6s ease-in-out;
  transition: width 0.6s ease-in-out;
}

.education-head {
  display: flex;
  flex-direction: row;
}

.education-text-school {
  margin: 0;
  font-size: 28px;
  font-weight: 700;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  height: 27px;
}

.education-roundedimg {
  object-fit: contain;
  margin-right: 2rem;
  width: 7rem;
  height: 7rem;
  box-shadow: 0 0.5rem 1rem $lightBoxShadowDarker;
  border-radius: 50%;
  background-color: #ffffff !important;
  padding: 0.5rem;
}

.education-card-right {
  max-width: 70%;
}

.education-text-subHeader {
  color: $textColor;
  font-weight: 700;
  font-size: 19px;
  margin: 0px;
  padding-top: 0.8rem;
  line-height: normal;
}

.education-text-duration {
  color: $titleColor;
  font-size: 19px;
  margin: 0px;
  padding-top: 0.5rem;
}

.education-text-desc {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.education-text-bullets > ul {
  margin-top: 0.5rem;
}

/* Media Query */

@media (max-width: 1380px) {
  .education-card {
    flex-direction: column;
    padding-bottom: 10px;
  }
  .education-card-right {
    max-width: 90%;
  }
  .education-card-border {
    width: 90%;
  }
  .education-text-subHeader {
    padding-top: 0.5rem;
    font-size: 16px;
  }
  .education-text-school {
    font-size: 20px;
    height: 23px;
  }
  .education-text-duration {
    font-size: 16px;
  }
  .education-roundedimg {
    width: 5rem;
    height: 5rem;
    margin-bottom: 0.5rem;
    margin-right: 0px;
    padding: 0.3rem;
  }
}

@media (max-width: 768px) {
  .education-card {
    text-align: center;
    padding: 1rem;
    margin-bottom: 2rem;
  }
  
  .education-card-right {
    max-width: 100%;
  }
  
  .education-card-border {
    width: 100%;
    margin: 1rem auto;
  }
  
  .education-roundedimg {
    margin: 10px auto 1rem auto;
    width: 4rem;
    height: 4rem;
    padding: 0.3rem;
  }
  
  .education-text-school {
    font-size: 20px;
    height: auto;
    white-space: normal;
    margin-bottom: 0.5rem;
  }
  
  .education-text-subHeader {
    font-size: 16px;
    padding-top: 0.3rem;
  }
  
  .education-text-duration {
    font-size: 14px;
    padding-top: 0.3rem;
  }
  
  .education-text-bullets > ul {
    max-width: 90%;
    margin: auto;
    text-align: left;
    padding-left: 1rem;
  }
}

@media (max-width: 480px) {
  .education-card {
    padding: 0.5rem;
  }
  
  .education-text-school {
    font-size: 18px;
  }
  
  .education-text-subHeader {
    font-size: 14px;
  }
  
  .education-text-duration {
    font-size: 12px;
  }
  
  .education-roundedimg {
    width: 3.5rem;
    height: 3.5rem;
  }
}
